.section-container{
    background: rgb(130, 118, 118);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#section-title{
    margin: 5px;
    outline-color: rgba(183, 183, 183, 0.219);
}

#section-text{
    margin-left: 5px;
    outline-color: rgba(183, 183, 183, 0.219);
}

*{
    color: rgb(233, 251, 254);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}